.input:focus {
    outline: none;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    order: 1;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
}

.error {
    order: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #CC1439;
}
